<div class="ad bsa-center bsa-center--spacing">
  <div id="codefund" class="code-fund"><!-- fallback content --></div>
  <script src="https://app.codefund.io/properties/536/funder.js" async="async"></script>
</div>
