<footer class="site-footer clearfix text-center text-white">
    <div class="container">
        Proudly published with <a href="https://ghost.org" target="_blank">Ghost</a>, hosted on <a href="https://m.do.co/c/93efc3859cad" target="_blank">DigitalOcean</a>
    </div>
    <div class="container">
        Proudly published with <a href="https://ghost.org" target="_blank">Ghost</a>, hosted on 
    </div>
</footer>
