<div class="jumbotron text-center text-white bg-teal">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="display-4">Made with React</h1>
        <p class="lead">A collection of websites and applications using the React or React Native JavaScript library.</p>
        <p>
          <a href="https://docs.google.com/forms/d/1nzITKUQ_FD8DEl_WzInpkW4uvvzf58WJpCezQDHLiE8/" target="_blank" class="btn btn-danger">Submit project</a>
          <a href="https://twitter.com/madewithreact" target="_blank" class="btn btn-primary">Follow us <i class="fa fa-twitter"></i></a>
         </p>
      </div>
    </div>
  </div>
</div>
