
<div class="row">
  <div class="col-lg-6 col-md-12 col-12">
    {{> post-creativetim }}
  </div>
  {{#foreach posts}}
    <div class="col-lg-6 col-md-12 col-12">
        {{> post}}
    </div>
  {{/foreach}}


</div>


{{pagination}}

<script>
  var randomNumber = Math.floor(Math.random() * (2 - 1 + 1)) + 1;
  document.getElementById("theme-" + randomNumber).style.display = "block";
</script>
