
<div class="card card-static" id="theme-1">
  <div class="card-header">
    <a target="_blank" href="https://www.creative-tim.com/product/material-dashboard-pro-react/?partner=93321" rel="noopener" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/material-dashboard-pro-react/?partner=93321')" class="card-header-url" >
      <img class="card-img-top" src="{{asset "img/react-material-bootstrap-dashboard-pro.jpg"}}" alt="Material React Dashboard">
      </img>
    </a>

  </div>

  <div class="card-body">
    <div class="tags-area">
      <span href="https://www.creative-tim.com/product/material-dashboard-pro-react/?partner=93321" target="_blank" class="text-info">
        <b>
          PREMIUM
        </b>
      </span>
    </div>
    <a class="card-title" target="_blank" href="https://www.creative-tim.com/product/material-dashboard-pro-react/?partner=93321"  onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/material-dashboard-pro-react/?partner=93321')">Material Dashboard Pro</a>
    <p class="card-text">Material Dashboard PRO React is a Premium Material-UI@4.1.0 Admin with a fresh, new design inspired by Google's Material Design. We are very excited to introduce our take on the material concepts through an easy to use and beautiful set of components.</p>
  </div>
  <div class="card-footer">
      <a target="_blank" href="https://www.creative-tim.com/product/material-dashboard-pro-react/?partner=93321"  class="btn btn-outline-info btn-round btn-sm" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/material-dashboard-pro-react/?partner=93321')">See Details</a>

  </div>
</div>

<div class="card card-static" id="theme-2">
  <div class="card-header">
    <a target="_blank" href="https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-react/?partner=93321" rel="noopener" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-react/?partner=93321')"  class="card-header-url">
      <img class="card-img-top" src="{{asset "img/react-light-bootstrap-dashboard-pro.jpg"}}" alt="Light React Dashboard"></img>
    </a>
  </div>

  <div class="card-body">
    <div class="tags-area">
      <span href="https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-react/?partner=93321" target="_blank" class="text-info">
        <b>
          PREMIUM
        </b>
      </span>
    </div>
    <a class="card-title" target="_blank" href="https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-react/?partner=93321" rel="noopener" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-react/?partner=93321')">Light Bootstrap Dashboard Pro</a>
     <p class="card-text">Light Bootstrap Dashboard PRO React is a premium admin dashboard template designed to be beautiful and simple. It is built on top of React Bootstrap, using Light Bootstrap Dashboard PRO and it is fully responsive. </p>
  </div>
  <div class="card-footer">
    <a target="_blank" href="https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-react/?partner=93321"  class="btn btn-outline-info btn-round btn-sm" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-react/?partner=93321')">See Details</a>

  </div>
</div>
