<div class="sidebar-page">
  <div class="card" id="theme-3">
    <div class="card-header">
      <a target="_blank" href="https://www.creative-tim.com/product/material-dashboard-pro-react/?partner=93321" rel="noopener" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/material-dashboard-pro-react/?partner=93321')"  class="card-header-url">
        <img class="card-img-top" src="{{asset "img/react-material-bootstrap-dashboard-pro.jpg"}}" alt="Material React Dashboard"></img>
      </a>
    </div>

    <div class="card-body">
      <div class="text-center">
        <a class="float-left" target="_blank" href="https://www.creative-tim.com/product/material-dashboard-pro-react/?partner=93321" rel="noopener" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/material-dashboard-pro-react/?partner=93321')">PREMIUM MATERIAL UI REACT ADMIN TEMPLATE</a>
        <a class="card-title" target="_blank" href="https://www.creative-tim.com/product/material-dashboard-pro-react/?partner=93321"  onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/material-dashboard-pro-react/?partner=93321')">Material Dashboard Pro</a>
      </div>
    </div>
    <div class="card-footer text-center">
      <a target="_blank" href="https://www.creative-tim.com/product/material-dashboard-pro-react/?partner=93321"  class="btn btn-outline-info btn-round btn-sm" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/material-dashboard-pro-react/?partner=93321')">Download</a>

    </div>
  </div>

  <div class="card" id="theme-4">
    <div class="card-header">
      <a target="_blank" href="https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-react/?partner=93321" rel="noopener" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-react/?partner=93321')"  class="card-header-url">
        <img class="card-img-top" src="{{asset "img/react-light-bootstrap-dashboard-pro.jpg"}}" alt="Light React Dashboard"></img>
      </a>
    </div>

    <div class="card-body">
      <div class="text-center">
        <a class="float-left" target="_blank" href="https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-react/?partner=93321" rel="noopener" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-react/?partner=93321')">PREMIUM BOOTSTRAP REACT ADMIN TEMPLATE</a>
        <a class="card-title" target="_blank" href="https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-react/?partner=93321" rel="noopener" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-react/?partner=93321')">Light Bootstrap Dashboard Pro</a>
      </div>
    </div>
    <div class="card-footer text-center">
      <a target="_blank" href="https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-react/?partner=93321"  class="btn btn-outline-info btn-round btn-sm" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-react/?partner=93321')">Download</a>

    </div>
  </div>
</div>
