
<div class="card card-static" id="theme-1">
  <div class="card-header">
    <a target="_blank" href="https://www.creative-tim.com/product/material-dashboard-pro-angular2/?partner=93321" rel="noopener" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/material-dashboard-pro-angular2/?partner=93321')" class="card-header-url" >
      <img class="card-img-top" src="{{asset "img/material-dashboard-pro-angular.jpg"}}">
      </img>
    </a>

  </div>

  <div class="card-body">
    <div class="tags-area">
      <span href="https://www.creative-tim.com/product/material-dashboard-pro-angular2/?partner=93321" class="text-danger">
        <b>
          PREMIUM
        </b>
      </span>
    </div>
    <a class="card-title" target="_blank" href="https://www.creative-tim.com/product/material-dashboard-pro-angular2/?partner=93321"  onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/material-dashboard-pro-angular2/?partner=93321')">Material Dashboard Pro</a>
    <p class="card-text">Material Dashboard PRO Angular 8 is a Premium Material Bootstrap 4 Admin with a fresh, new design inspired by Google's Material Design. It is based on the popular Bootstrap framework and comes packed with multiple third-party plugins.</p>
  </div>
  <div class="card-footer">
      <a target="_blank" href="https://www.creative-tim.com/product/material-dashboard-pro-angular2/?partner=93321"  class="btn btn-outline-danger btn-round btn-sm" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/material-dashboard-pro-angular2/?partner=93321')">See Details</a>

  </div>
</div>

<div class="card card-static" id="theme-2">
  <div class="card-header">
    <a target="_blank" href="https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-angular2/?partner=93321" rel="noopener" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-angular2/?partner=93321')"  class="card-header-url">
      <img class="card-img-top" src="{{asset "img/light-bootstrap-dashboard-angular.jpg"}}"></img>
    </a>
  </div>

  <div class="card-body">
    <div class="tags-area">
      <span href="https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-angular2/?partner=93321" class="text-danger">
        <b>
          PREMIUM
        </b>
      </span>
    </div>
    <a class="card-title" target="_blank" href="https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-angular2/?partner=93321" rel="noopener" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-angular2/?partner=93321')">Light Bootstrap Dashboard Pro</a>
     <p class="card-text">Light Bootstrap Dashboard PRO Angular is a Bootstrap Admin Theme designed to look simple and beautiful. Forget about boring dashboards and grab yourself a copy to kickstart new project! It is the easiest way to save time and money for your development.</p>
  </div>
  <div class="card-footer">
    <a target="_blank" href="https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-angular2/?partner=93321"  class="btn btn-outline-danger btn-round btn-sm" onclick="ga('send', 'event', 'Outbound', 'Home', 'https://www.creative-tim.com/product/light-bootstrap-dashboard-pro-angular2/?partner=93321')">See Details</a>

  </div>
</div>
