<article class="card">
    <a href="https://www.creative-tim.com/product/material-dashboard-pro-react/?affiliate_id=93321" target="_blank" class="card-img-wrapper img-fluid">
      <img src="{{asset "img/react-material-bootstrap-dashboard-pro.jpg"}}" alt="Material React Dashboard" />
    </a>

    <div class="card-block">
        <header>
            <h2 class="card-title">
              <a href="https://www.creative-tim.com/product/material-dashboard-pro-react/?affiliate_id=93321" target="_blank">
                Material React Dashboard
              </a>
            </h2>
        </header>
        <section class="card-text">
            <a href="https://www.creative-tim.com/product/material-dashboard-pro-react/?affiliate_id=93321" target="_blank">Read more &raquo;</a>
        </section>
        <footer class="card-meta">
            <span class="badge badge-warning">Featured</span>
        </footer>
    </div>
</article>
