<div class="card">
  {{> bsa-1  }}
</div>
<div class="card angular-expo--shadow card-tags">
  <div class="card-header d-flex">
    <i class="far fa-flag"></i>
    <h5>Tags</h5>
  </div>
  <div class="card-body">
    {{#get "tags" include="count.posts" order="count.posts desc"}}
      <ul class="tags-menu">
        {{#foreach tags}}
          <li>
            <a href="{{url}}">{{name}}</a>
            <p>{{count.posts}}</p>
          </li>
        {{/foreach}}
      </ul>
    {{/get}}
  </div>
</div>
<div class="card  angular-expo--shadow card-subscribe">
  <div class="card-header d-flex">
    <i class="far fa-envelope"></i>
    <h5>Subscribe</h5>
  </div>
  <div class="card-body">
    <p>
      Join our monthly newsletter and never miss out on new Angular examples, demos and experiments.
    </p>
    <div id="mc_embed_signup">
      <form action="//angularexpo.us14.list-manage.com/subscribe/post?u=20206c0829ddb0efe4d35bc7a&amp;id=c32002db8f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="form-input">
            <input class="required email text-input" type="email" id="mce-EMAIL" name="EMAIL" placeholder="Your Email...">
          </div>
        	<div id="mce-responses" class="clear">
        		<div class="response" id="mce-error-response" style="display:none"></div>
        		<div class="response" id="mce-success-response" style="display:none"></div>
        	</div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_20206c0829ddb0efe4d35bc7a_c32002db8f" tabindex="-1" value=""></div>
          <div class="clear">
            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-outline-danger btn-round submit-button">
              Subscribe
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
