<div class="col-lg-5 col-md-6 col-12">
  <div class="subscribe-area">
    <h4>Want more React themes & templates?</h4>
    <p class="subscribe-text mt-3">Subscribe to get updated when new React related
      products arrive!
    </p>
    <div id="mc_embed_signup">
      <form action="//angularexpo.us14.list-manage.com/subscribe/post?u=20206c0829ddb0efe4d35bc7a&amp;id=c32002db8f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll" class="subscribe-input">
          <div class="form-input form-group form-subscribe">
            <i class="far fa-envelope"></i>
            <input class="form-control required email text-input" type="email" id="mce-EMAIL" name="EMAIL" placeholder="Your Email...">
            <div class="clear submit-button">
              <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info btn-round btn-submit btn-sm">
                Subscribe
              </button>
            </div>
          </div>
        	<div id="mce-responses" class="clear">
        		<div class="response" id="mce-error-response" style="display:none"></div>
        		<div class="response" id="mce-success-response" style="display:none"></div>
        	</div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_20206c0829ddb0efe4d35bc7a_c32002db8f" tabindex="-1" value=""></div>

        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-lg-7 d-lg-block d-none">
  <div class="container">
    <img src="{{asset "img/illustration_product.svg"}}" alt="ilustration" />
  </div>
</div>
