{{!< layouts/default}}

<main role="main">
  <div class="page-content">
    <div class="row">
      <div class="col-md-7 ml-auto mr-auto text-center mb-5">
        <img src="{{asset "/img/404_ill.svg"}}" alt="Error 404" class="error-image">
        <a class="btn btn-round btn-outline-info mx-auto mt-5 d-block error-button" href="{{@site.url}}">Return to home</a>
      </div>
    </div>
  </div>
</main>
