{{!< layouts/default}}

<main role="main">
  <div class="page-content">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto text-center">
        <h2>404</h2>
        <p>Page not found!</p>
        <a href="{{@site.url}}">Return to home &raquo;</a>
      </div>
    </div>
  </div>
</main>
