{{!< layouts/default}}

<main role="main">
  <div class="section-search mr-auto ml-auto">
    <div class="form-group form-search">
      <input name="q" id="my-custom-input" class="form-control form-control-search" placeholder="Search products"  autocomplete="off">
      <button type="submit" name="button" class="btn btn-white btn-round btn-submit" id="my-custom-button">
        <i class="icon-search fa fa-search"></i>
      </button>
      <div id="my-custom-results"></div>
    </div>
  </div>
  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {{> "loop"}}
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              {{> sidebar}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
