.card {
  margin-bottom: 2rem;

  box-shadow: 0 2px 1px rgba(0,0,0,0.1);
  border: none;
  border-radius: 2px;

  &-title {
    font-size: 1.5rem;
    a {
       color: #292b2c;
    }
  }

  img {
    max-width: 100%;
  }

  &-img-background {
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }

  .card-img-wrapper {
    background: #D6D6D6;
    height: 220px;
    text-align: center;
    position: relative;

    img {
      max-height:100%;
      max-width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}
