body {
  overflow-y: scroll;
}

html,
body {
  height: 100%;
}

p {
  color: #424242;
}

.text-white p {
  color: $white;
}

strong {
  font-weight: 500;
}

.content {
	margin: 2rem auto;
}

.jumbotron {
  border-radius: 0;
}

.bg-teal {
  background-color: darken($teal, 4);
}

@media (min-width: 992px) {
  #sidebar {
    margin-left: 3rem;
  }
}

.site-footer {
  background: #212121;
  font-size: 14px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  a {
    color: $white;
  }
}
