.pagination{
  .page-item .page-link{
    font-size: $font-size-default;;
    background: transparent;
    color: $text-primary;
    border: none;
  }
  .page-number{
    font-size: $font-size-default;;
    text-transform: uppercase;
    color: $text-primary;
  }
}
