// Variables

$brand: #FD5D93;
$brand-state: #EC250D;
$button-default: #F44336;
$white-color: #FFFFFF;

$background-color: #F5F5FC;

$text-primary: #223464;

$card-background: #FFFFFF;
$card-border-color: #707070;
$card-border-radius: 10px;

$card-title: #3C4858;
$card-height: 550px;

$shadow-default: 0 15px 30px 0 rgba(48, 54, 77, 0.1);

$shadow-navbar: 0 15px 30px 0 rgba(#3C4858, 0.05);

$font-size-default: 14px;

$border-radious-default: 6px;

$buttons-padding: 10px 24px;
$button-border-radious: 30px;
